<%- include('partials/header') %>

<header>
<div class="container " style="text-align: center; margin-top:90px ;">
  <!-- <div class="container"> -->
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3" style="font-weight:bold;">Secrets</h1>
    <p class="lead"  style="font-weight:normal;">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  <!-- </div> -->
</div>
</header>

<%- include('partials/footer') %>
